<mat-card fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center" 
fxLayout.lt-md="column" fxLayoutAlign=" stretch" fxLayoutGap="18px">
    <div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center" 
    fxLayout.lt-md="column" fxLayoutGap="7px">
        <label class="card-label">Fecha desde:</label>
        <div class="calendar" fxLayout.lt-md="column" fxLayoutAlign=" stretch">
            <mat-form-field >
                <input matInput [matDatepicker]="pickerStart"
                [formControl]="dateStart">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center"
    fxLayout.lt-md="column" fxLayoutGap="7px">
        <label class="card-label">Fecha hasta:</label>
        <div class="calendar" fxLayout.lt-md="column" fxLayoutAlign=" stretch">
            <mat-form-field >
                <input matInput [matDatepicker]="pickerEnd"
                [formControl]="dateEnd">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout fxLayoutAlign="center center">
        <button class="btn bg-red" (click)="sendDate()">Enviar</button>
    </div>
  </mat-card>