@import '~src/scss/variables';

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.fix-nav{
  background: #2D2D2D;
}

.mat-toolbar-single-row {
  padding: 0 0;
}

.mr-15 { margin-right: 15px; }

.top-bar{
  font-size: 12px;
  font-family: Helvetica;

  .link{
    text-decoration: underline;
    color: #FFFFFF;
  }
  .user-name{ color: #999999; }
  
  .w-text{ color: #FFFFFF; }

  .blue-btn{
    background: #187385 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 8px 30px;
    font-size: 12px;
    font-family: Helvetica;
  }
}
