@import '~src/scss/variables';

.mat-table {
  border-collapse: collapse; 

  .mat-header-row {
    height: auto;
    .mat-header-cell, th:not(th:last-child){ //border-header
      border-right: 1px solid $white;
      background: #808080;
      color: $white;
      padding: 5px 10px;
      font-size: 11px;
      text-align: center;
      line-height: 1.2;
      &:last-child { border-right: 1px solid #707070; }
      &:first-child { border-left: 1px solid #707070; }
    }
  }
  .mat-row {
    height: auto;
    .mat-cell {
      border: 1px solid #707070;
      padding: 5px 10px;
      font-size: 10px;
    }
  }
  .btn-xs{
    padding: 4px 15px;
    font-size: 10px;
  }
}