<div fxLayout="column" fxLayoutGap="25px">
  <div fxFlex fxLayout="column" fxLayoutAlign="stretch space-between">
    <label class="title gray-color mt20"><b>Consulta de consumos: Detalle de Cuentas del Usuario</b></label>
    <label class="title blue-color py20"><b>Buscar</b></label>
    <mat-card fxFlex>
      <mat-card-title class="card-title"><b>Detalles de Cuentas de Usuario</b></mat-card-title>
      <p class="subtitle mt15">Selecciona el tipo de búsqueda</p>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" fxLayoutAlign.lt-md="stretch" fxLayoutGap="12px" 
      class="cards-xs">
        <mat-card class="{{email?'active':'deactivated'}}" fxLayout="row" fxLayoutAlign="start center" fxFlex.gt-sm="24" 
         fxLayoutGap="7px" (click)="searchSelection(1)">
          <mat-icon >panorama_fish_eye</mat-icon>
          <label>Correo electrónico (Completo)</label>
        </mat-card>
        <mat-card class="{{hogar?'active':'deactivated'}}" fxLayout="row" fxLayoutAlign="start center" fxFlex.gt-sm="24" 
         fxLayoutGap="7px" (click)="searchSelection(2)">
          <mat-icon >panorama_fish_eye</mat-icon>
          <label>Nro Cuenta Claro Hogar</label>
        </mat-card>
        <mat-card class="{{movil?'active':'deactivated'}}" fxLayout="row" fxLayoutAlign="start center" fxFlex.gt-sm="24" 
         fxLayoutGap="7px" (click)="searchSelection(3)">
          <mat-icon >panorama_fish_eye</mat-icon>
          <label>Nro Línea Claro Móvil</label>
        </mat-card>
      </div>
      <p class="subtitle mt15">Ingresa tu búsqueda</p>
      <form [formGroup]="searchForm" (ngSubmit)="onSearchUser()" novalidate fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="stretch" fxLayoutGap="30px">
        <div fxFlex fxFlex.gt-sm="49" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" 
        fxLayoutAlign.lt-md="stretch" fxLayoutGap.gt-sm="25px" fxLayoutGap.lt-md="5px">
          <label class="subtitle">Valor:</label>
          <div class="tag-group" fxFlex>
            <mat-icon class="search-icon">search</mat-icon>
            <div fxLayout="column">
             <input type="{{sType=='email'?'email':'number'}}" formControlName="lookupValue" appearance="outline"
              fxFlex [ngClass]="{'err-box':searchForm.get('lookupValue')!.hasError('pattern')}" class="input-st">
              <label class="err-text pt5" *ngIf="sType=='email' && searchForm.get('lookupValue')!.hasError('pattern')">Campo obligatorio, debe escribir un email correcto</label>
              <label class="err-text pt5" *ngIf="sType=='hogar' && searchForm.get('lookupValue')!.hasError('pattern')">Campo obligatorio</label>
              <label class="err-text pt5" *ngIf="sType=='movil' && searchForm.get('lookupValue')!.hasError('pattern')">Campo obligatorio, debe inciar en 3 y contener 10 digitos</label>
            </div>
          </div>
        </div>
        <div fxFlex fxLayoutAlign.lt-md="center center" >
          <button class="btn" type="submit" class="{{searchForm.invalid || sType==''?'bg-light-grey':'bg-red'}}" [disabled]="searchForm.invalid || sType==''">Buscar</button>
        </div>
      </form>
    </mat-card>
  </div>

  <div class="spinner-container" *ngIf="loading; else loaded">
    <mat-spinner [diameter]="40" [strokeWidth]="10"></mat-spinner>
  </div>

  <ng-template #loaded>
    <div class="{{( !loading && visible )?'visible':'hide'}}">
      <mat-accordion class="example-headers-align" multi fxFlex>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title"><b>Datos del usuario</b></mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <form [formGroup]="userForm" class="form-card" fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="15px" class="mr30">
                <div fxLayout="column">
                  <label>Email:</label>
                  <input formControlName="mail" class="input-st">
                </div>
                <button #btnMail class="{{userForm.get('mail').value ==''?'bg-light-grey':'bg-red'}} btn" 
                (click)="modifyMail(userData)" fxFlex="130px" 
                [disabled]="userForm.get('mail').value ==''">
                  Cambiar Email
                </button>
              </div>
              <div fxLayout="column" class="mr30">
                <label>Nombre:</label>
                <input class="input-st" formControlName="firstName">
              </div>
              <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="15px" class="mr30">
                <div fxLayout="column" class="mr30">
                  <label>Apellido:</label>
                  <input class="input-st" formControlName="lastName">
                </div>
                <button #btnNames class="{{userForm.get('firstName').value =='' || userForm.get('lastName').value ==''?'bg-light-grey':'bg-red'}} btn"
                (click)="modifyNames(userData)" fxFlex="130px"
                [disabled]="userForm.get('firstName').value =='' || userForm.get('lastName').value ==''">
                  Cambiar Nombres
                </button>
              </div>
              <div fxLayout="column" class="mr30">
                <label>Nro Cuenta Claro:</label>
                <input class="input-st" disabled value="{{userData?.fixedAccount}}">
              </div>
              <div fxLayout="column" class="mr30">
                <label>Medio de pago:</label>
                <input class="input-st" disabled value="{{userData?.providerId}}">
              </div>
              <div fxLayout="column" class="mr30">
                <label>No de cuenta:</label>
                <input class="input-st" disabled value="{{userData?.customerId}}">
              </div>
              <div fxLayout="column">
                <label>Id interno del usuario:</label>
                <input class="input-st" disabled value="{{userData?.idNumber}}">
              </div>
              <button class="btn bg-blue" (click)="changePassword()">Cambiar clave</button>
            </form>
          </mat-card>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button class="btn bg-gray mt15">Eliminar cuenta del usuario</button>
          </div>
          
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title"><b>Alquileres del usuario</b></mat-panel-title>
          </mat-expansion-panel-header>
          <div fxFlex fxLayout="column" fxLayoutGap="20px">
            <app-calendar (selectedDate)="dateChange($event)"></app-calendar>
            <app-table dataForTable="{{dataTableAux1}}"></app-table>
          </div>
          
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title"><b>Suscripciones del usuario</b></mat-panel-title>
          </mat-expansion-panel-header>
          <div fxFlex fxLayout="column" fxLayoutGap="20px">
            <app-calendar (selectedDate)="dateChange($event)"></app-calendar>
            <app-table dataForTable="{{dataTableAux2}}"></app-table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title"><b>Dispositivos del usuario</b></mat-panel-title>
          </mat-expansion-panel-header>
          <app-table dataForTable="{{dataTableAux3}}"></app-table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-template>
</div>
