@import '~src/scss/variables';

  .title{
    font-size: 1.5em;
  }

  .card-title{
    color: #000000;
    font-size: 1.188em;
  }

  .subtitle{
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    font-size: 1.063em;
  }

  .mat-expansion-panel-header{
    font-size: 1em;
  }

  .cards-xs{
    .mat-card{
      padding: 10px;
      cursor: pointer;
      .mat-icon {
        height: 12px;
        width: 13px;
        cursor: pointer;
      }
      .material-icons {
        font-size: 12px;
      }
      label{
        cursor: pointer;
      }
    }
  }

  .tag-group{
    position: relative;
    .search-icon{
      position: absolute;
      padding: 10px;
      pointer-events: none;
    }
    .search-icon{
      left: 5px;
      top: 6px;
      font-size: 19px;
      padding: 0;
      color: #C5C5C5; 
      opacity: 1;
    }
    input {
      padding-left: 30px;
    }
  }

  .active{
    background: $red;
    color: $white;
    font-size: 0.938em;
    cursor: pointer;
  }

  .deactivated{
    background: $white;
    color: #707070;
    font-size: 0.938em;
  }

  .form-card { 
    label{
      color: #2D2D2D;
      font-weight: bold;
      font-size: 0.875em;
    }
  }

  .hide {
    display: none !important;
  }

  .visible{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: stretch space-between;
    align-items: stretch;
    max-height: 100%;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

 

  @media screen and (min-width: 481px) {
    .form-card { 
      height: 210px; 
      .w-250{
        width: 250px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .form-card { 
      height: 535px; 
      div{
        width: 97%;
        .w-250{
          width: 100%;
        }
      }
    }
  }
