@import '~src/scss/variables';
.location-icon {
  color: $primary-color;
}

.container{
  font-size: 0.75em;
  font-family: Roboto;

  .title{
    font-weight: bold;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 1.5em;
  }

  .grey-title{
    color: #2D2D2D;
    margin: 20px 0 0 0;
  }
  .blue-title{
    color: #187385;
    margin: 30px 0;
  }

  .card-title{
    color: #000000;
    font-size: 1.188em;
  }

  .subtitle{
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    font-size: 1.063em;
  }

  .mt-15{ margin-top: 15px; }
  .mr-30{ margin-right: 30px; }

  .grey-text{
    color: #707070;
    font-size: 0.938em;
  }

  .mat-expansion-panel-header{
    font-size: 1em;
  }

  .cards-xs{
    .mat-card{
      padding: 10px;
      .mat-icon {
        height: 12px;
        width: 13px;
      }
      .material-icons {
        font-size: 12px;
      }
    }
  }

  .input-st{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    opacity: 1;
    padding: 6px;
    outline: none;
    color: #2D2D2D;
  }

  .tag-group{
    position: relative;
  }

  .tag-group .search-icon{
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  .left-group .search-icon{
    left: 5px;
    top: 6px;
    font-size: 19px;
    padding: 0;
    color: #C5C5C5; 
    opacity: 1;
  }

  .left-group input {
    padding-left: 30px;
  }

  .active {
    background: #E03224;
    color: #fff;
  }

  .deactivated{
    background: #FFFFFF;
    color: #707070;
  }
  
  .grey-btn{
    background: #5E5E5E 0% 0% no-repeat padding-box;
  }

  .card-label{
    color: #2D2D2D;
    font-weight: bold;
    font-size: 0.875em;
  }

  .form-card { height: 210px; }

  .hide {
    display: none !important;
  }

  .visible{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: stretch space-between;
    align-items: stretch;
    max-height: 100%;
  }

}

