<div class="login-page">
  <div class="content px20">
    <form class="login-form" #myForm="ngForm" (ngSubmit)="onLogin()">
      <div class="login-form--icon">
        <img src="assets/images/login-icon.svg" alt="Asesores Appp">
      </div>
      <div class="text-center">
        <h2 class="app-name">Asesores</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <div class="login-input w-100">
            <label class="login-input--label">Usuario</label>
            <input class="login-input--input" matInput>
          </div>
          <div class="login-input w-100">
            <label class="login-input--label">Contraseña</label>
            <input class="login-input--input" matInput type="password">
          </div>
        </div>
      </div>
      <div class="login-form--submit">
        <button type="submit" class="btn red-btn">
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</div>
