<div class="login-page">
  <div class="content px20">
    <form [formGroup]="loginForm" class="login-form" novalidate (ngSubmit)="onLogin()">
      <div class="login-form--icon">
        <img src="assets/images/login-icon.svg" alt="Asesores Appp">
      </div>
      <div class="text-center">
        <h2 class="app-name">Asesores</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <div class="login-input w-100">
            <label class="login-input--label">Usuario</label>
            <input formControlName="user" class="login-input--input">
          </div>
          <div class="login-input w-100">
            <label class="login-input--label">Contraseña</label>
            <input type="password" formControlName="pass" class="login-input--input">
          </div>
        </div>
      </div>
      <div class="login-form--submit">
        <button type="submit" class="{{loginForm.invalid?'bg-light-grey':'bg-red'}} btn" [disabled]="loginForm.invalid">
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</div>
