@import '~src/scss/variables';

.login-page {
  @extend %login-background;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;

  .content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .app-name {
      color: $white;
      margin-top: 0px;
      padding-bottom: 10px;
      font-weight: 400;
      font-size: 25px;
    }

    .login-form {
      padding: 40px;
      background: $login-form-background;
      max-width: 300px;

      .login-input {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 11px 0;

        &--label {
          width: 100%;
          color: $white;
          margin: 3px 0px;
        }
        
        &--input {
          color: $white;
          background: $input-background;
          border: none;
          font-size: 17px;
          padding: 0.4rem 0.2rem;
          min-width: 17rem;
          border-radius: 5px;
        }
      }

      &--icon {
        text-align: center;
        img {
          max-width: 4rem;
        }
      }

      &--submit {
        display: flex;
        justify-content: center;
        margin: 1.5rem 0 1.5rem;
        button {
          font-size: 1rem;
        }
      }
      .spinner-container{
        margin-bottom: 2.5rem;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  %login-background {
    background: url(../../../assets/images/login-hero.png);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
  }
}

@media screen and (max-width: 480px) {
  %login-background {
    background: #000000;
  }
}

