
.btn {
    border-radius: 26px;
    opacity: 1;
    color: $white;
    border: none;
    padding: 8px 30px;
    font-size: 11px;
    font-family: $main-font-family;
}

.red-btn{
    background: $primary-color 0% 0% no-repeat padding-box;
}

.blue-btn{
    background: #187385 0% 0% no-repeat padding-box;
}
