$primary-color: #E52A1B;
$white: #ffffff;
$black: #000;
$main-background-color: #fafafa;
$main-font-family: Roboto;
$red: #E03224;
$blue: #187385;

// Login
$input-background: #2D2D2D;
$login-form-background: $black;
